# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment directories
/venv/
/env/
/data/augmented_dataset/
/data/raw_data
/data/processed_data
/data/VOC
/data/VOC.zip
/data/processed_data_old




# System files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Secret files
.env
